@import "../../global-scss/mixins";
:host {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
$font-sizes: (
  xl: 16px,
  lg: 14px,
  md: 14px,
  sm: 12px,
  xs: 10px,
);

.avatar-container{

  .d-flex{
    @include displayAlignCenter
  }
  
  .capitalize{
    text-transform: capitalize;
  }
  p{
    margin: 0px;
  }
  
  .avatar-xl{
    font-size: 10px;
  }
  
  @each $size, $fontSize in $font-sizes {
    .font-size-#{$size} {
      font-size: $fontSize;
    }
  }
  
  .px-1{
    padding: 0px 5px;
  }
}